button{
    background-color: rgb(236, 133, 211);
    margin-left: 10%;
}

h5{
color: teal;
}

.snake{
    height: 20px;
    width: 20px;
    background-color: yellowgreen;
    z-index: +1;
}



.grid{
    display: flex;
    border: 3px solid;
    flex-wrap: wrap;
    height: 217px;
    width: 220px;
   
}

.grid div{
height: 20px;
width: 20px;
border: 1px solid white;

/*adding background color overrides apple and snake color, so use z index*/
}

.apple{
    height: 20px;
    width: 20px;
    background-color: tomato;
}